@page "/"
@attribute [Authorize]

<PageTitle>Index</PageTitle>

<h1>HomePage</h1>

Welcome to the home page.

<AuthorizeView Roles="Student">
    <Authorized Context="IsStudent">
        <a>
            Student
        </a>
    </Authorized>
</AuthorizeView>

<AuthorizeView Roles="Teacher">
    <Authorized Context="IsTeacher">
        <a>
            Teacher
        </a>
    </Authorized>
</AuthorizeView>

@*<SurveyPrompt Title="How is Blazor working for you?" />*@
