@page "/Quizzen"
<h3>Quizzen</h3>



     <label for="Subjects">Kies een vak:</label>

<select name="Subjects" id="Subject.Id">
  <option value="B2F3">B2F3</option>
  <option value="B2F4">B2F4</option>
  <option value="B2C6">B2C6</option>
  <option value="B2C7">B2C7</option>
  @*dit moet op de een of andere manier gekoppeld worden aan de klasse die voor de vakken gemaakt wordt zodat het niet hardcoded erin komt te staan maar dynamisch aan de hand van de database*@
  

</select> 


@code {

    


}
