<AuthorizeView>
    <Authorized>
        <a href="logout">Uitloggen</a>
    </Authorized>
    <NotAuthorized>
        <a href="login?redirectUri=/">Inloggen Docent</a>
    </NotAuthorized>
</AuthorizeView>